{% extends "site_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set your new password" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" method="post" >
                <legend>{% trans "Set your new password" %}</legend>
                    {% csrf_token %}
                    {% crispy form %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
