{% extends "site_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" method="post" action="{% url 'tasks:repo_create' %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
            <legend>{{ head_title }}</legend>
            {% crispy form %}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
