{% extends "site_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <legend>{{ head_title }}</legend>
        {{ object.name }}
        {{ object.url }}
        {{ object.revision }}
        {{ object.dest }}
        {{ object.updated }}
        {{ object.updater }}
        <form class="form-horizontal" method="post" action="{% url 'tasks:repo_detail' pk=object.pk %}">
            {% crispy form %}
        </form>
    </div>
</div>
{% endblock %}
